{% extends 'base.html' %}
{% block content %}
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Fale Conosco
                    </h1>
                    <h2 class="splash-subhead">
                        Você pode entrar em contato conosco por e-mail ou por nossas redes sociais
                    </h2>
                    <p>Links</p>
                    <ul>
                        <li>E-mail:<a href="#">mail@mail.com</a></li>
                        <li>Twitter:<a href="#">@simplemooc</a></li>
                        <li>Facebook:<a href="#">simplemooc</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}